<div class="header">
  <div class="py-3 sm:px-3">
    <h3>
      <%= @data_set.title %>
    </h3>
    <p class="description">
      <%= @data_set.description %>
    </p>
  </div>
  <div class="border-t border-gray-200">
    <dl>
      <%= render partial: 'data_sets/data_details', locals: {label: 'Source', value: data_set.source, index: 0} %>
      <%= render partial: 'data_sets/data_details', locals: {label: 'Timeframe', value: data_set.timeframe(true), index: 1} %>
      <%= render partial: 'data_sets/data_details', locals: {label: 'Location', value: "#{data_set.city}, #{data_set.state}", index: 0} %>
      <%= render partial: 'data_sets/data_details', locals: {label: 'Size', value: "#{number_to_human_size(data_set.storage_size)} (#{data_set.row_count} x #{data_set.fields.count})", index: 1} %>
      <%= render partial: 'data_sets/data_details', locals: {label: 'License', value:  data_set.license, index: 0} %>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Links</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <ul>
            <% unless data_set.documentation_link.blank? %>
              <li>
                <%= link_to('Documentation Link', data_set.documentation_link, class: 'font-medium text-indigo-600 hover:text-indigo-500') %>
              </li>
            <% end %>
            <% unless data_set.data_link.blank? %>
              <li>
                <%= link_to('Data Link', data_set.data_link, class: 'font-medium text-indigo-600 hover:text-indigo-500') if data_set.data_link %>
              </li>
            <% end %>
            <% unless data_set.api_links.blank? %>
              <% data_set.api_links.split.each do |link| %>
                <li>
                  <%= link_to('API Link', link, class: 'font-medium text-indigo-600 hover:text-indigo-500') if data_set.data_link %>
                </li>
              <% end %>
            <% end %>

          </ul>
        </dd>
      </div>

      <%= render partial: 'data_sets/data_details', locals: {label: 'Exclusions', value: data_set.exclusions, index: 0} %>
      <%= render partial: 'data_sets/data_details', locals: {label: 'Format', value: data_set.format, index: 1} %>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Scope</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <% if data_set.has_911? %>
            Includes 911 data
            <br>
          <% end %>
          <% if data_set.has_fire? %>
            Includes fire data
            <br>
          <% end %>
          <% if data_set.has_ems? %>
            Includes ems data
            <br>
          <% end %>
        </dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Columns</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <% data_set.fields.order(:position).each_with_index do |field, i| %>
            <%= link_to field.heading, '#', title: field.sample_data %><%= ', ' unless i == data_set.fields.count - 1 %>
          <% end %>
        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Field Map</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <table class="table-auto">
            <% data_set.fields.mapped.order(:common_type).each_with_index do |field| %>
              <%= render partial: 'field_map', locals: {field: field} %>
            <% end %>
          </table>
        </dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Data Files</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <ul role="list" class="border border-gray-200 rounded-md divide-y divide-gray-200">
            <% data_set.files.each do |file| %>
              <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                <div class="w-0 flex-1 flex items-center">
                  <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                  </svg>
                  <span class="ml-2 flex-1 w-0 truncate">
                    <%= file.filename %> (Uploaded <%= time_ago_in_words file.created_at %> ago)
                  </span>
                </div>
                <div class="ml-4 flex-shrink-0">
                  <%= link_to 'Download', rails_blob_path(file, disposition: :attachment), class: 'font-medium text-indigo-600 hover:text-indigo-500' %>
                </div>
              </li>
            <% end %>
          </ul>
        </dd>
      </div>
    </dl>
  </div>
</div>

