<%= form_with(model: data_set, class: "contents") do |form| %>
  <%= render "shared/form/text_field", form: form,
                                       field: :title,
                                       placeholder: "The name as listed on web page or report" %>
  <%= render "shared/form/text_area", form: form,
                                      field: :description,
                                      rows: 3,
                                      placeholder: "Describe this data set from web page or report if possible, or in your own words if no explanation is provided." %>
  <%= render "shared/form/text_field", form: form,
                                       field: :source,
                                       placeholder: "The organization providing the data" %>
  <%= render "shared/form/text_field", form: form,
                                       field: :data_link,
                                       placeholder: "Complete URL to original source / owner of data." %>
  <%= render "shared/form/text_field", form: form,
                                       field: :documentation_link,
                                       placeholder: "Complete URL to online documentation, data dictionary, etc." %>
  <%= render "shared/form/text_area", form: form,
                                       field: :api_links,
                                       rows: 2,
                                       placeholder: "Links to application programming interfaces, if available. Add one link per line." %>
  <%= render "shared/form/text_field", form: form,
                                       field: :license,
                                       placeholder: 'Intellectual property legal conditions for use of the data. Default is "presumed copyright" unless otherwise stated.' %>
  <%= render "shared/form/select", form: form,
                                   field: :format,
                                   options: options_for_select(['', 'OpenGov', 'Socrata', 'ArcGIS'], data_set.format) %>
  <%= render "shared/form/text_area", form: form,
                                       field: :exclusions,
                                       rows: 2,
                                       placeholder: "List types of records excluded from the dataset. See this example: http://gisapps1.mapoakland.com/callsforservice/" %>
  <%= render "shared/form/text_field", form: form,
                                       field: :city,
                                       placeholder: 'City or county where the data are reported' %>
  <%= render "shared/form/select", form: form,
                                   field: :state,
                                   options: options_for_select(us_states, form.object.state) %>
  <% if action_name == 'new' || action_name == 'create' %>
    <%= render "shared/form/file_field", form: form, field: :files %>
  <% end %>
  <div class="mb-12">
    <fieldset>
      <div class="mt-4 space-y-4">
        <%= render "shared/form/checkbox", form: form,
                                           field: :has_911,
                                           label: "911 Data",
                                           description: "This data set includes calls to 911." %>
        <%= render "shared/form/checkbox", form: form,
                                           field: :has_fire,
                                           label: "Fire Data",
                                           description: "This data set includes fire department calls." %>
        <%= render "shared/form/checkbox", form: form,
                                           field: :has_ems,
                                           label: "EMS Data",
                                           description: "This data set includes EMS calls." %>
      </div>
    </fieldset>
  </div>
  <div class="inline">
    <%= form.submit value: action_name == 'new' ? 'Upload Dataset' : 'Update Dataset', class: 'button' %>
  </div>
<% end %>
