<div class="w-full">
  <%= render partial: 'shared/card_head', locals: {title: 'My Profile', description: "Update my account details."} %>

  <div id="my_profile" class="bg-white px-4 py-2 border-b border-gray-200 sm:px-6">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <%= form_for(resource, as: resource_name, url: profile_path, html: { method: :put }, data: { turbo: false }) do |f| %>

            <div class="form-group my-4">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email" %>
              <%= render "shared/input_error", resource: resource, field: :email %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group my-4">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "Leave blank if you don't want to change it" %>
              <% if @minimum_password_length %>
                <p class="text-slate-500 text-xs mt-1 ml-1"><%= @minimum_password_length %> characters minimum</p>
              <% end %>
              <%= render "shared/input_error", resource: resource, field: :password %>
            </div>

            <div class="form-group my-4">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm your new password" %>
              <%= render "shared/input_error", resource: resource, field: :password_confirmation %>
            </div>

            <div class="form-group my-4">
              <%= f.label :current_password %>
              <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "We need your current password to confirm your changes" %>
              <%= render "shared/input_error", resource: resource, field: :current_password %>
            </div>

            <div class="actions my-6">
              <%= f.submit "Update", class: "w-50 justify-center" %>
              <%= link_to 'Cancel', root_path, class: "button-cancel" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
