<div class="bg-white pt-12 px-12">
  <div class="flex flex-row">
    <div class="grow w-2/4">
      <h3 class="text-2xl text-gray-900 font-bold"><%= title %></h3>
      <% if defined?(description) && description %>
        <p class="mt-1 text-sm text-gray-500 line-clamp-2 pr-12 2xl:w-3/4">
          <%= description %>
        </p>
      <% end %>
    </div>
    <div class="justify-self-end self-end">
      <% if defined?(buttons) %>
        <% buttons.each do |button| %>
          <% if button[:display] || button[:display].nil? %>
            <%= link_to button[:label],
                        button[:href],
                        method: button[:method] || :get,
                        class: "#{button[:class] ? button[:class] : "button"} mb-2" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if defined?(links) %>
    <div class="mt-4">
      <div class="sm:hidden">
        <label for="current-tab" class="sr-only">Select a tab</label>
        <select id="current-tab" name="current-tab" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
          <% links.each do |link| %>
            <option selected="<%= link[:selected] ? 'true' : 'false' %>%>"><%= link[:name] %></option>
          <% end %>
        </select>
      </div>
      <!-- Tabs at small breakpoint and up -->
      <div class="hidden sm:block">
        <nav class="-mb-px flex">
          <% links.each do |link| %>
            <% @classes = "whitespace-nowrap pb-2 first:pl-0 px-5 border-b-2 text-sm" %>
            <%= link_to link[:name], link[:href], class: link[:selected] ? "#{@classes} border-indigo-500 text-indigo-600" : "#{@classes} border-transparent text-gray-400 hover:text-gray-700 hover:border-gray-300" %>
          <% end %>
        </nav>
      </div>
    <% else %>
      <div class="pb-4"></div>
    <% end %>
  </div>
</div>
