<div class="w-full">
  <%= render 'shared/header',
      title: "Dashboard",
      description: "Manage, view and export your datasets and classifications from the dashboards screen.",
      links: [
        { name: "Datasets", href: "#" },
        { name: "Call Type Mapping", href: "#", selected: true }
      ]
  %>
  <div class="responsive-container">
    <div class="mt-12 px-4 py-5 sm:px-6">
      <section class="px-6 pb-6 bg-white">
        <div class="overflow-hidden">
          <div class="overflow-x-auto">
            <table class="w-auto">
              <thead>
                <tr>
                  <th scope="col">
                    Detailed Call Type
                  </th>
                  <th scope="col">
                    Common Incident Type
                  </th>
                  <th scope="col">
                    Classifier
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @call_type_maps.each do |classification| %>
                  <tr class="row">
                    <td>
                      <% if classification.unknown? %>
                        <i>
                          <%= classification.value %>
                        </i>
                      <% else %>
                        <%= classification.value %>
                      <% end %>
                    </td>
                    <td>
                      <% if classification.unknown? %>
                        <i>
                          UNKNOWN
                        </i>
                      <% else %>
                        <%= link_to classification.common_incident_type&.formatted_code, '#', title: classification.common_incident_type&.formatted_notes || classification.common_incident_type&.formatted_description %>
                      <% end %>
                    </td>
                    <td>
                      <%= classification.user&.email || 'UNKNOWN' %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
