<div class="w-full">
  <%= render 'shared/classifications/header' %>
  <div class="responsive-container">
    <div class="mt-12 px-4 py-5 sm:px-6" data-controller="visibility">
      <h6><%= @data_set.title %></h6>
      <div class="flex flex-col lg:flex-row justify-between">
        <div>
          <h2><%= @call_type.value %></h2>
        </div>
        <div class="mb-8">
          <button id="show-examples" class="button" data-action="click->visibility#show" data-visibility-target="temporaryHide">
            <%= t('.show_examples') %>
          </button>
          <button class="button hidden" data-action="click->visibility#hide" data-visibility-target="hide">
            <%= t('.hide_examples') %>
          </button>
        </div>
      </div>
      <div class="text-black pb-8">
        Please review the sample call records for this call type. From there, please classify the
        call type to the best of your ability by searching below for different common incident types.
        After you've selected an incident type, you can choose how confident you are about your selection.
        If you are unable to identify a common incident type to map to this call type,
        you can choose to skip this call type classification.
      </div>
      <section id="call-types-examples" class="bg-white mb-16 hidden" data-visibility-target="hide">
        <h4 class="px-6 pt-6 border-b-2 border-gray-200">
          Example Call Type Records
        </h4>
        <section class="px-6 pb-6 bg-white">
          <div class="overflow-x-auto">
            <table class="border-collapse">
              <thead>
                <tr>
                  <% @fields.each do |field| %>
                    <th scope="col">
                      <%= field.heading&.humanize %>
                    </th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @data.each do |rows| %>
                  <tr class="row">
                    <% rows.each do |column| %>
                      <td>
                        <%= column %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </section>
      </section>
      <section id="classify-call-type" data-controller="visibility">
        <div class="flex flex-col lg:flex-row justify-between">
          <div>
            <h2>Classify Call Type</h2>
            <div class="text-black pb-8">
              Assign a common incident type to this data set.
            </div>
          </div>
          <div class="mb-8">
            <button id="show-apco" class="button" data-action="click->visibility#show" data-visibility-target="temporaryHide">
              <%= t('.view_codes') %>
            </button>
            <button class="button hidden" data-action="click->visibility#hide" data-visibility-target="hide">
              <%= t('.hide_codes') %>
            </button>
          </div>
        </div>
        <section data-visibility-target="hide" class="hidden bg-white mb-12">
          <%= render 'codes', apco_codes: @apco_codes %>
        </section>
        <% if @existing_classication %>
          <p class="mx-auto notice-border w-1/2 mb-12" id="notice">
            You classified this call type
            <%= distance_of_time_in_words_to_now(@existing_classication.created_at) %>
            ago.
          </p>
          <div class="text-center">
            <%= link_to "Classify Another Call Type",
                            classify_data_sets_call_types_classifications_path(data_set_slug: @data_set.slug),
                            class: "button",
                            data: { turbo: false } %>
          </div>
        <% else %>
          <div class="mb-10">
            <div class="relative text-gray-400 focus-within:text-gray-400">
              <%= render 'shared/common_incident_types/search_bar' %>
            </div>
          </div>
        <% end %>
      </section>
      <% unless @existing_classication %>
        <div class="min-h-[320px]" data-controller="classify">
          <%= turbo_frame_tag "results" do %>
            <%= render 'shared/common_incident_types/results',
                common_incident_types: nil %>
          <% end %>
          <%= render "classifications/call_types/selected_common_incident_type" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
