<!DOCTYPE html>
<html>
  <head>
    <title>Classifyr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex flex-col bg-gray-800 h-screen">
    <div class="w-full">
      <% if notice %>
        <p class="notice" id="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
    <main class="flex flex-col grow justify-center align-middle">
      <div class="flex justify-center h-16">
        <img class="h-12 w-auto" src="<%= image_path 'workflow-logo-indigo-500-mark-white-text.svg' %>" alt="Classifyr">
      </div>
      <div class="sm:w-fit m:w-96 mx-auto">
        <div class="mx-4 px-8 py-8 bg-gray-100 rounded-lg">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
